
@import url("https://fonts.googleapis.com/css?family=Lato:300");
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato";
    font-size: 16px;
    color: beige;
}
.rom {
    margin-right: 800px;
}

ul {
    
    list-style-type: none;
    margin-left: 00px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

li {
    float: right;
    
}

li a {
    display: block;
    color: rgb(10, 28, 126);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

li a:hover {
    background-color: rgb(248, 178, 231);
}




.education,h2{
    color: aqua;
    font-family: 'Times New Roman', Times, serif;

}
.education {
color: rgb(255, 255, 255);
font-size: 45;
font-family: 'Courier New', Courier, monospace;
width: 100%;
}
.education,tr,td{
padding: 30px;
font-size: 45;
}

/*** <--- CIRCLE STYLES ---> ***/

.wrap-circles {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.circle {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 1rem;
    border-radius: 50%;
    background: #FFCDB2;
    overflow: hidden;
    
}

.circle.per-90 {
    background-image: conic-gradient(#B5838D 25%, #FFCDB2 0);
}

.circle.per-60{
    background-image: conic-gradient(#B5838D 50%, #FFCDB2 0);
}

.circle.per-20 {
    background-image: conic-gradient(#B5838D 75%, #FFCDB2 0);
}

.circle.per-75 {
    background-image: conic-gradient(#B5838D 30%, #FFCDB2 0);
}

.circle.per-30 {
    background-image: conic-gradient(#B5838D 30%, #FFCDB2 0);
    
}

.circle .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 115px;
    height: 115px;
    background: #000;
    border-radius: 50%;
    font-size: 1.5em;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.75);
}



#contact .contact {
    flex-direction: column;
    padding: 100px 0;
    align-items: center;
    justify-content: center;
    min-width: 20vh;
}
#contact .contact-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 0;
}
#contact .contact-item {
    width: 30%;
    margin: 0;
    flex-direction: row;
}
#contact .contact-item .icon {
    height: 10px;
    width: 10px;
}

#contact .contact-item .contact-info{
    
    width: 100%;
    text-align: left;
    padding-left: 20px;
}
#contact .contact-items.contact-item.contact-info ,h1{color: rgb(230, 192, 248);}